.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

.display-title {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.no-articles {
    font-size: 1.2rem;

    margin-top: 1rem;
}

.articles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* margin: 5rem; */
    margin-top: 2rem;
}

.active-article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5rem;
    margin-top: 1rem;
    padding: 2rem;
    padding-top: 0rem;

    border: 1px solid black;
    border-radius: 2rem;

    background-color: rgb(255, 230, 180);
}

.active-article-title {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article {
    margin-bottom: 2rem;
    padding: 1rem;

    width: 80%;

    border: 1px solid black;
    border-radius: 1rem;

    /* background-color: rgb(220, 220, 220); */
    background-color: rgb(255, 230, 180);
}

.article:hover {
    transform: scale(1.05);
}

.article-title {
    width: 90%;
    overflow-wrap: break-word;
    padding: 1rem;

    background-color: rgb(255, 255, 225);

    border-radius: 1rem;
}

.article-timestamp {
    display: flex;
    justify-content: flex-end;

    margin-right: 2rem;
}

.article-content {
    white-space: pre-wrap;

    padding: 1rem;

    background-color: rgb(255, 255, 225);

    border-radius: 1rem;
}

.collapsed-article {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.expand-button {
    margin-left: 1rem;
}

.expand-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .display-title {
        font-size: 1.3rem;
    }

    .no-articles {
        font-size: 0.9rem;
    }

    .article {
        padding: 1rem;
    }

    .article-title {
        width: 80%;
    }

    .active-article-container {
        margin: 3rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .display-title {
        font-size: 1.2rem;
    }
}